img.ingredient {
    margin: 1rem;
    border-radius: 8px;
}

body {

}

.equation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.potion {
    height: 128px;
}

.refresh, .reveal {
    cursor: pointer;
}

.refresh {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.result {
    height: 128px;
    width: 114px;
    display: flex;
}

.reveal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.guess-alchemicals {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.choices .row {
    display: flex;
    justify-content: space-around;
}

.query {
    font-size: 24px;
    margin: 2rem;
}

.disabled {
    -webkit-filter: grayscale(1.0);
    -moz-filter: grayscale(1.0);
    -ms-filter: grayscale(1.0);
    -o-filter: grayscale(1.0);
    filter: grayscale(1.0);
}

.banner {
    width: 100%;
}

.root.container {
    
}

.text {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}