img.ingredient {
    margin: 1rem;
    border-radius: 8px;
}

body {
    background-color: green;
}


/* html, body, #app { */
/*     /\* background-color: orange; *\/ */
/*     width: 100%; */
/*     height: 100%; */
/*     margin: 0; */
/*     background-color: #f5f5f5; */
/* } */

/* #svg-background { */
/*     position: absolute; */
/*     width: 100%; */
/*     height: 100%; */
/* } */

/* .sidebar { */
/*     position: fixed; */
/*     width: 232px; */

/*     -webkit-transform: translateX(-242px); */
/*     transform: translateX(-242px); */

/*     -webkit-transition: -webkit-transform .15s ease-in-out; */
/*     transition: transform .15s ease-in-out; */

/*     will-change: top,left; */
/*     font-size: 1.2rem; */
/*     font-weight: bold; */
/*     z-index: 2; */
/* } */

/* .sidebar.visible { */
/*     -webkit-transform: translateX(0); */
/*     transform: translateX(0); */
/* } */

/* .content { */
    
/* } */

/* .content.squeezed, .thread-view.squeezed { */
/*       width: auto; */
/*       margin-left: 272px; */
/*       margin-right: 104px; */
/* } */

/* .clickable, label.clickable { */
/*     cursor: pointer; */
/* } */

/* .sidebar-groups-section { */
/*     padding: 1rem 1rem 0 1.25rem; */
/* } */

/* .sidebar-more-section { */
/*     margin-top: -1rem; */
/*     padding-left: 1.5rem; */
/* } */

/* .thread-row { */
/*     display: flex; */
/* } */

/* .vote-block { */
/*     display: flex; */
/*     flex-direction: column; */
/*     margin-right: 1rem; */
/*     justify-content: center; */
/* } */

/* .video-preview { */
/*     height: 100%; */
/*     width: 10rem; */
/*     display: inline-span; */
/* } */

/* .metadata { */
/*     display: flex; */
/*     flex-direction: column; */
/*     margin: 0.5rem; */
/*     justify-content: flex-start; */
/* } */

/* .filler { */
/*     flex-grow: 100; */
/* } */

/* .send { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/* } */

/* .thread-view { */
/*     position: relative; */
/*     background-color: white; */
/* } */

/* .reply { */
/*     /\* margin-left: 1.1rem; *\/ */
/* } */

/* .reply > * { */
/*     margin-left: 16px; */
/* } */

/* .player-reply-filler { */
/*     height: 24rem; */
/*     background-color: white; */
/* } */

/* .thread-view > .reply { */
/*     margin-left: 0rem; */
/*     background-image: url("../image/rainbow2.png"); */
/*     background-repeat: repeat; */
/* } */

/* .thread-view > .reply > * { */
/*     margin-left: 0.4rem; */
/* } */

/* .thread-view > .reply > .card-container { */
/*     padding-top: 0; */
/* } */

/* .card-container { */
/*     background-color: white; */
/*     padding: 0.5rem 0; */
/* } */

/* .card { */
/*     display: flex; */
/*     padding-left: 0.5rem; */
/*     flex-direction: column; */
/*     margin-top: 0; */
/*     margin-bottom: 0; */
/*     transition-property: -webkit-box-shadow, box-shadow; */
/*     transition-duration: 0.5s; */
/*     transition-function: ease; */
/* } */

/* .card .standard { */
/*     display: flex; */
/*     height: 7rem; */
/*     z-index: 5; */
/* } */

/* .card .recording { */
/*     /\* margin: 0.5rem 0rem 2rem 0rem; *\/ */
/*     z-index: 4; */
/*     display: flex; */
/*     justify-content: space-around; */
/*     position: relative; */
/*     margin-bottom: 1rem; */
/* } */

/* .card hr { */
/*     margin-right: 0.5rem; */
/*     margin-bottom: 1rem; */
/*     margin-top: 1rem; */
/* } */

/* .card .recording .grouping { */
/*     display: flex; */
/*     justify-content: space-between; */
/*     flex-direction: column; */
/* } */

/* .card .recording .right-arrow { */
/*     padding-top: 1rem; */
/* } */

/* .card .recording .length, .card .recording  .size { */
/*     font-size: 2.5rem; */

/* } */

/* .card img { */
/*     height: 100%; */
/*     cursor: pointer; */
/* } */

/* .card .title { */
/*     flex-grow: 100; */
/*      cursor: pointer; */
/* } */

/* .card .info { */
/*     padding-top: 0.5rem; */
/*     padding-right: 1rem; */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: flex-end; */
/* } */

/* .reply-button { */
/*     margin-top: 0.5rem;  */
/* } */

/* .player { */
/*     position: fixed; */
/*     background-color: black; */
/*     height: 23rem; */
/*     margin-left: -1.5rem; */
/*     z-index: 100; */
/* } */

/* .player > .device { */
/*     position: fixed; */
/*     height: 23rem; */
/*     z-index: 100; */
/*     display: flex; */
/*     justify-content: center; */
/*     margin-left: -1.5rem; */
/* } */

/* .device.active { */
/*     z-index: 101; */
/* } */

/* .device.background { */
/*     display: none; */
/* } */

/* .device > div { */
/*     height: 100%; */
/* } */

/* .device video { */
/*     height: 100%; */
/* } */

/* .navigator { */
/*     margin-top: 25rem; */
/* } */

/* .thread-view { */
/* } */

/* .modal { */
/*     display: inline; */
/*     top: 6rem; */
/* } */

/* .lean-overlay { */
/*     position: fixed; */
/*     z-index: 999; */
/*     top: -100px; */
/*     left: 0; */
/*     bottom: 0; */
/*     right: 0; */
/*     height: 125%; */
/*     width: 100%; */
/*     background: #000; */
/*     display: none; */
/*     will-change: opacity; */
/*     opacity: 0.5; */
/*     display: block; */
/* } */