img.ingredient {
    border-radius: 8px;
}

body {

}

.equation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.potion {
    height: 128px;
}

.cursor {
    cursor: pointer;
}

.refresh {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.result {
    height: 128px;
    width: 114px;
    display: flex;
}

.reveal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.guess-alchemicals {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.choices .row {
    display: flex;
    justify-content: space-around;
}

.query {
    font-size: 24px;
    margin: 2rem;
}

.disabled {
    -webkit-filter: grayscale(1.0);
    -moz-filter: grayscale(1.0);
    -ms-filter: grayscale(1.0);
    -o-filter: grayscale(1.0);
    filter: grayscale(1.0);
}

.banner {
    width: 100%;
}

.root.container {

}

.text {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.feedback > * {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.error i {
    color: red;
}

.everything-ok i {
    opacity: 0;
}

.success i {
    color: green;
}

.links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.pyramid {
    background-color: red;
}

.pyramid .pyramid-row {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    position: relative;
}

.pyramid .pyramid-row:nth-child(1) {
    left: 43.75%;
    width: 12.5%;
}

.pyramid .pyramid-row:nth-child(2) {
    left: 37.5%;
    width: 25%;
}
.pyramid .pyramid-row:nth-child(3) {
    left: 31.25%;
    width: 37.5%;
}

.pyramid .pyramid-row:nth-child(4) {
    left: 25%;
    width: 50%;
}

.pyramid .pyramid-row:nth-child(5) {
    left: 18.75%;
    width: 62.5%;
}

.pyramid .pyramid-row:nth-child(6) {
    left: 12.5%;
    width: 75%;
}

.pyramid .pyramid-row:nth-child(7) {
    left: 6.12%;
    width: 87.5%
}

.pyramid .row .mixture {
    width: 2rem;
    height: 2rem;
    background-color: pink;
}

.table {
    display: flex;
    background-color: green;
    justify-content: space-around;
}

.center-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column img.ingredient {
    width: 100%;
}